#### Contents of the preconfiguration file (for stretch)

### Localization
d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select us

### Network configuration
d-i netcfg/choose_interface select auto

### Account setup
d-i passwd/make-user boolean false

### Clock and time zone setup
d-i clock-setup/ntp boolean true

### Partitioning
d-i partman-efi/non_efi_system boolean true
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Package selection
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server
d-i pkgsel/upgrade select full-upgrade

### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev  string /dev/sda

### Finishing up the installation
d-i finish-install/reboot_in_progress note

d-i preseed/late_command string \
cd /target; \
wget https://b.stru.ca/post-install.sh; \
chmod +x ./post-install.sh; \
chroot ./ ./post-install.sh; \
rm -f ./post-install.sh	

